/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2017, 11:57:41 PM
    Author     : yyyaaazzz
*/
.drop-basket {
    width: 535px;
    max-width: 82%;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: $white;
    @include box-shadow(0 0 10px 0 rgba(0,0,0,0.15));
    z-index: 1;
    @include breakpoint(640){
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
    .heading {
        font-size: 3rem;
        line-height: 2.5rem;
        margin-bottom: 13px;
        @include breakpoint(480){
            font-size: 2.4rem;
            line-height: 2.2rem;
            margin-bottom: 10px;
        }
        small {
            font-size: 1.4rem;
            @include breakpoint(480){
                font-size: 1.3rem;
            }
            @include breakpoint(360){
                font-size: 1.2rem;
            }
        }
    }
    .basket-items {
        border-bottom: 1px solid $lite-grey;
        .item {
            position: relative;
            border-top: 1px solid $lite-grey;
            @include breakpoint(460){
                min-height: 120px;
            }
            .image {
                height: 110px;
                margin-right: 15px;
                @include breakpoint(640){
                    height: 90px;
                }
                @include breakpoint(480){
                    height: 70px;
                    margin-right: 13px;
                }
                @include breakpoint(360){
                    height: 60px;
                    margin-right: 11px;
                }
                img {
                    vertical-align: top;
                    max-height: 100%;
                }
            }
            .title {
                padding-top: 13px;
                font-size: 1.4rem;
                font-weight: 400;
                @include breakpoint(480){
                    font-size: 1.3rem;
                }
                @include breakpoint(360){
                    font-size: 1.2rem;
                }
                a {
                    color: inherit;
                    text-decoration: none;
                    &:hover {
                        color: $purple;
                    }
                }
            }
            .options {
                font-size: 1.2rem;
                margin-top: 6px;
                color: $dark-grey;
                margin-bottom: 48px;
                @include breakpoint(480){
                    margin-top: 5px;
                    font-size: 1.1rem;
                }
            }
            .calc {
                position: absolute;
                bottom: 18px;
                right: 30px;
                font-size: 0;
                button {
                    position: relative;
                    vertical-align: top;
                    width: 36px;
                    height: 30px;
                    text-align: center;
                    border: 1px solid #bbc3cb;
                    background-color: #FFFFFF;
                    padding: 0;
                    &:before {
                        display: block;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        width: 15px;
                        height: 15px;
                        margin-top: -7.5px;
                        margin-left: -7.5px;
                        background-image: $sprite;
                        content: "";
                    }
                    &.plus {
                        &:before {
                            background-position: -161px -20px;
                        }
                        &:not(:disabled) {
                            &:hover {
                                &:before {
                                    background-position: -176px -20px;
                                }
                            }
                        }
                        &:disabled {
                            &:before {
                                background-position: -191px -20px;
                            }
                        }
                    }
                    &.minus {
                        &:before {
                            background-position: -206px -20px;
                        }
                        &:not(:disabled) {
                            &:hover {
                                &:before {
                                    background-position: -221px -20px;
                                }
                            }
                        }
                        &:disabled {
                            &:before {
                                background-position: -236px -20px;
                            }
                        }
                    }
                    &:active {
                        @include transform(scale(0.95, 0.95));
                    }
                    &:disabled {
                        border-color: #eceef0;
                    }
                }
                input[type="text"] {
                    vertical-align: top;
                    width: 36px;
                    height: 30px;
                    text-align: center;
                    padding: 0;
                    border: none;
                    font-size: 1.4rem;
                }
            }
            .del {
                color: #464748;
                font-size: 27px;
                text-decoration: none;
                position: absolute;
                color: inherit;
                bottom: 14px;
                right: 0;
                &:before {
                    content: "\00d7";
                }
                &:hover {
                    color: $purple;
                }
            }
            .price {
                position: absolute;
                bottom: 22px;
                left: 128px;
                font-size: 1.6rem;
                @include breakpoint(640){
                    left: 105px;
                }
                @include breakpoint(480){
                    left: 85px;
                }
                @include breakpoint(460){
                    left: 0;
                }
                @include breakpoint(360){
                    font-size: 1.4rem;
                }
                &:after {
                    content: "грн.";
                    @include breakpoint(360){
                        font-size: 1.2rem;
                    }
                }
                strong {
                    font-weight: 400;
                }
                .strike {
                    position: relative;
                    color: $dark-grey;
                    margin-right: 10px;
                    &:after {
                        content: "грн.";
                    }
                    strong {
                        position: relative;
                        &:after {
                            display: block;
                            position: absolute;
                            left: -3px;
                            right: -3px;
                            top: 50%;
                            height: 1px;
                            background-color: $purple;
                            content: "";
                            @include transform(rotate(-15deg));
                        }
                    }
                }
            }
        }
    }
    .summary {
        font-size: 1.8rem;
        line-height: 1.8rem;
        margin-top: 30px;
        @include breakpoint(400){
            margin-top: 24px;
            font-size: 1.5rem;
            line-height: 1.5rem;
        }
        @include breakpoint(360){
            margin-top: 22px;
            font-size: 1.4rem;
            line-height: 1.4rem;
        }
        strong {
            font-size: 2.2rem;
            font-weight: 400;
            @include breakpoint(400){
                font-size: 2rem;
            }
            @include breakpoint(360){
                font-size: 1.8rem;
            }
            &:after {
                font-weight: 300;
                font-size: 1.8rem;
                content: " грн";
                @include breakpoint(400){
                    font-size: 1.5rem;
                }
                @include breakpoint(360){
                    font-size: 1.4rem;
                }
            }
        }
    }
    .buttons {
        margin-top: 18px;
        margin-bottom: 20px;
        line-height: 1rem;
    }
    .close {
        display: block;
        position: absolute;
        top: 40px;
        right: 28px;
        font-size: 36px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border: none;
        background-color: transparent;
        @include breakpoint(480){
            right: 26px;
            top: 22px;
        }
        &:before {
            content: "\00d7";
            font-weight: 300;
        }
        &:hover {
            color: $purple;
        }
    }
    .empty {
        .message {
            text-align: center;
            font-size: 3.6rem;
            line-height: 1;
            padding-top: 70px;
            padding-bottom: 70px;
            @include breakpoint(480){
                font-size: 3rem;
            }
            @include breakpoint(380){
                font-size: 2.6rem;
            }
            p {
                font-size: 1.8rem;
                color: #808c99;
                @include breakpoint(480){
                    font-size: 1.5rem;
                }
                @include breakpoint(380){
                    font-size: 1.4rem;
                }
            }
        }
        .last-watched {
            border-top: 1px solid #e1e6ec;
            position: relative;
            padding-top: 20px;
            .h3 {
                position: absolute;
                top: 0;
                left: 50%;
                padding-left: 5px;
                padding-right: 5px;
                @include transform(translateX(-50%) translateY(-50%));
                background-color: #FFFFFF;
                color: $purple;
                text-align: center;
                white-space: nowrap;
            }
            .watched-slider {
                .swiper-wrapper {
                    padding-bottom: 10px;
                    .swiper-slide {
                        width: 140px;
                        text-align: center;
                        .img {
                            img {
                                vertical-align: top;
                            }
                        }
                        .title {
                            font-size: 1.2rem;
                            line-height: 1.7rem;
                            text-transform: uppercase;
                            a {
                                color: inherit;
                                text-decoration: none;
                                &:hover {
                                    color: $purple;
                                }
                            }
                        }
                        .category {
                            margin-top: 8px;
                            font-size: 1.2rem;
                            color: #808c99;
                            a {
                                color: inherit;
                                text-decoration: none;
                                &:hover {
                                    color: $purple;
                                }
                            }
                        }
                        .price {
                            margin-top: 8px;
                            font-size: 1.8rem;
                            line-height: 1.2;
                            &.stock {
                                color: $black;
                            }
                            &:after {
                                font-size: 1.5rem;
                                content: "грн.";
                            }
                            strong {
                                font-weight: inherit;
                            }
                            .strike {
                                display: block;
                                position: relative;
                                color: $dark-grey;
                                font-weight: 400;
                                &:after {
                                    font-size: 1.5rem;
                                    content: "грн.";
                                }
                                strong {
                                    position: relative;
                                    &:after {
                                        display: block;
                                        position: absolute;
                                        left: -1px;
                                        right: -1px;
                                        top: 50%;
                                        height: 1px;
                                        background-color: $dark-grey;
                                        content: "";
                                    }
                                }
                            }
                        }
                    }
                }
                .swiper-button-prev,
                .swiper-button-next {
                    background-image: none;
                    top: 0;
                    bottom: 0;
                    margin: 0;
                    width: 70px;
                    height: auto;
                    &.swiper-button-disabled {
                        display: none;
                    }
                }
                .swiper-button-next {
                    right: 0;
                    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
                    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
                    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
                }
                .swiper-button-prev {
                    left: 0;
                    background: -moz-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
                    background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
                    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
                }
                .swiper-scrollbar {
                    @include opacity(0.75);
                    background-color: #e1e6ec;
                    bottom: 0;
                    .swiper-scrollbar-drag {
                        background-color: #808c99;
                    }
                }
                &:hover {
                    .swiper-scrollbar {
                        @include opacity(1);
                    }
                }
            }
        }
        .buttons {
            margin-top: 45px;
        }
    }
    .buttons {
        .btn {
            padding-left: 0;
            padding-right: 0;
        }
    }
}