/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 9, 2017, 11:22:37 PM
    Author     : yyyaaazzz
*/

.controlbar {
    border-bottom: 1px solid $light-grey;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 1.3rem;
    @include breakpoint(990){
        position: relative;
        padding-bottom: 5px;
    }
    .sort {
        text-align: center;
        select {
            vertical-align: middle;
            min-width: 120px;
            margin-left: 7px;
            height: 24px;
            @include breakpoint(990){
                min-width: 100%;
                margin-left: 0;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 30px;
                @include opacity(0);
            }
        }
        span {
            @include breakpoint(990){
                display: none;
            }
        }
        label {
            display: inline;
            cursor: default;
            @include breakpoint(990){
                overflow: hidden;
                display: block;
                position: relative;
                width: 62px;
                height: 30px;
                background-image: url("/images/site/smart/icons/sort.svg");
                background-position: left;
                background-repeat: no-repeat;
                background-size: auto 20px;
            }
        }
    }
    .limit {
        @include breakpoint(990){
            position: relative;
        }
        button {
            display: inline-block;
            vertical-align: middle;
            height: 24px;
            line-height: 2.4rem;
            font-size: 1.3rem;
            width: 30px;
            color: $black;
            margin-left: 4px;
            padding: 0;
            background: transparent none;
            border: none;
            &:first-of-type {
                margin-left: 6px;
            }
            &:not(:disabled) {
                &:hover {
                    color: $purple;
                }
            }
            &:disabled {
                border-bottom: 2px solid $purple;
            }
            @include breakpoint(990){
                display: none;
            }
        }
        span {
            @include breakpoint(990){
                display: none;
            }
        }
        label,
        select {
            @include breakpoint_min(991){
                display: none;
            }
        }
        label {
            position: relative;
            display: inline-block;
            cursor: pointer;
            height: 30px;
            padding-right: 40px;
            background: url("/images/site/smart/icons/limit.svg") right no-repeat;
            background-size: auto 15px;
            background-repeat: no-repeat;
            line-height: 30px;
            @include breakpoint_min(990){
                display: none;
            }
            select {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 30px;
                @include opacity(0);
            }
        }
    }
    .control-filter {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 8px;
        @include breakpoint_min(769){
            display: none;
        }
        button {
            width: 32px;
            height: 24px;
            display: inline-block;
            border: none;
            position: relative;
            vertical-align: middle;
            background-color: $white;
            background-image: url("/images/site/smart/icons/filter.svg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            .cnt {
                display: block;
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: $purple;
                @include border-radius(50%);
                color: $white;
                text-align: center;
                line-height: 1.6rem;
                font-size: 9px;
                font-weight: 500;
                right: 0;
                margin-right: -12px;
                top: 0;
            }
        }
    }
    .selected-filters {
        font-size: 1.3rem;
        text-align: center;
        @include breakpoint(768){
            display: none;
        }
        a {
            text-decoration: none;
            display: inline-block;
            margin-left: 2px;
            margin-right: 2px;
            white-space: nowrap;
            line-height: 2.2rem;
            height: 24px;
            border: 1px solid #e7e7e7;
            color: $black;
            padding-left: 8px;
            padding-right: 8px;
            &:active {
                @include transform(scale(0.95, 0.95));
            }
            &:not(.clear-all) {
                &:after {
                    display: inline-block;
                    vertical-align: middle;
                    width: 10px;
                    height: 10px;
                    margin-left: 7px;
                    background-image: $sprite;
                    background-position: -54px -20px;
                    @include transition(transform 200ms ease);
                    content: "";
                }
                &:hover {
                    color: $purple;
                    &:after {
                        background-position: -64px -20px;
                        @include transform(rotate(90deg));
                    }
                }
            }
            &.clear-all {
                font-weight: 500;
                background-color: $purple;
                color: $white;
                border-color: $purple;
                &:hover {
                    background-color: $lite-purple;
                    border-color: $lite-purple;
                }
            }
        }
    }
}