/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 1, 2017, 10:51:14 AM
    Author     : yyyaaazzz
*/

.product-flypage {
    text-align: initial;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding-left: 40px;
    .badge {
        margin-bottom: 10px;
        @include breakpoint(640){
            margin-left: auto;
            margin-right: auto;
        }
    }
    .product-title {
        font-size: 2rem;
        margin-top: 0;
    }
    .product-descr {
        color: $dark-grey;
    }
    .buttons {
        padding-top: 20px;
        padding-bottom: 30px;
        .price {
            margin-bottom: 24px;
            font-size: 2.8rem;
            line-height: 4.8rem;
            &:after {
                font-size: 2rem;
                content: "грн.";
            }
            strong {
                font-weight: inherit;
            }
            &.stock {
                line-height: 4.2rem;
            }
            .strike {
                font-size: 2rem;
                display: inline-block;
                vertical-align: middle;
                position: relative;
                color: $dark-grey;
                margin-right: 8px;
                strong {
                    position: relative;
                    &:after {
                        display: block;
                        position: absolute;
                        left: -3px;
                        right: -3px;
                        top: 51%;
                        height: 1px;
                        background-color: $peach;
                        content: "";
                    }
                }
                &:after {
                    font-size: 1.5rem;
                    content: "грн.";
                }
            }
        }
        .btn-wrap {
            @include breakpoint_min_max(991, 1280){
                text-align: center;
                display: inline-block;
                width: 200px;
            }
            @include breakpoint_min_max(641, 850){
                text-align: center;
                display: inline-block;
                width: 200px;
            }
            @include breakpoint(400){
                text-align: center;
                display: inline-block;
                width: 200px;
            }
        }
        .add-to-cart {
            padding-left: 0;
            padding-right: 0;
            min-width: 200px;
            &:before {
                content: "купить";
            }
            &.in-cart {
                &:before {
                    content: "уже в корзине";
                }
            }
        }
        .buy-quick {
            display: inline-block;
            vertical-align: middle;
            margin-left: 20px;
            text-decoration: none;
            color: $dark-grey;
            border-bottom: 1px dotted;
            &:hover {
                color: $peach;
            }
            @include breakpoint_min_max(991, 1280){
                margin-left: 0;
                margin-top: 20px;
            }
            @include breakpoint_min_max(641, 850){
                margin-left: 0;
                margin-top: 20px;
            }
            @include breakpoint(400){
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }
    .options {
        position: relative;
        & + .options {
            padding-top: 20px;
        }
        .option-label {
            font-size: 1.3rem;
            &:before {
                content: attr(data-label);
                margin-right: 4px;
            }
        }
        .optgroup {
            overflow: hidden;
            font-size: 0;
            label {
                display: inline-block;
                width: 62px;
                height: 32px;
                line-height: 3rem;
                border: 1px solid $lite-grey;
                text-align: center;
                font-size: 1.3rem;
                margin-right: 6px;
                margin-top: 6px;
                cursor: pointer;
                &:active {
                    @include transform(scale(0.95));
                }
                &:hover {
                    border-color: $ground-purple;
                }
            }
            input[type="radio"] {
                position: absolute;
                top: -33px;
                left: -33px;
                @include opacity(0);
                &:checked {
                    & + label {
                        font-weight: 400;
                        border-color: $purple;
                    }
                }
            }
        }
        .imgroup {
            overflow: hidden;
            font-size: 0;
            label {
                display: inline-block;
                vertical-align: top;
                width: 40px;
                height: 40px;
                border: 1px solid $white;
                margin-right: 6px;
                margin-top: 6px;
                cursor: pointer;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                &:active {
                    @include transform(scale(0.95));
                }
                &:hover {
                    border-color: $lite-grey;
                }
            }
            input[type="radio"] {
                position: absolute;
                top: -33px;
                left: -33px;
                @include opacity(0);
                &:checked {
                    & + label {
                        border-color: $purple;
                        outline: 3px solid #FFFFFF;
                        outline-offset: -4px;
                    }
                }
            }
        }
    }
    .product-features {
        margin-top: 30px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        font-size: 1.3rem;
        color: $dark-grey;
        .feature-item {
            text-align: center;
            &:before {
                display: block;
                width: 44px;
                height: 34px;
                background-image: $sprite;
                background-repeat: no-repeat;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 8px;
                content: "";
            }
            &:nth-child(1){
                &:before {
                    background-position: 0px -325px;
                }
            }
            &:nth-child(2){
                &:before {
                    background-position: -44px -325px;
                }
            }
            &:nth-child(3){
                &:before {
                    background-position: -88px -325px;
                }
            }
            + .feature-item {
                margin-left: 20px;
            }
        }
    }
}
.product-dialog {
    .product-title {
        font-size: 2rem;
        margin-bottom: 10px;
        a {
            color: inherit;
            text-decoration: none;
            &:hover {
                color: $purple;
            }
        }
        .badge {
            display: block;
            margin-bottom: 10px;
            height: 20px;
            width: 110px;
            line-height: 1.9rem;
            font-size: 1.2rem;
            text-align: center;
            text-transform: uppercase;
            border: 1px solid;
            &.new {
                background-color: $white;
                color: $mint;
                border-color: $mint;
                &:before {
                    content: "new";
                }
            }
            &.sale {
                background-color: $peach;
                color: $white;
                border-color: $peach;
                &:before {
                    content: "sale";
                }
            }
            &.hit {
                background-color: $white;
                color: $dark-peach;
                border-color: $peach;
                &:before {
                    content: "Товар дня";
                }
            }
        }
    }
    .reviews {
        margin-top: 10px;
        text-align: center;
        .rating {
            float: none;
            display: inline-block;
            vertical-align: -2px;
            margin-right: 8px;
        }
        a {
            color: $dark-grey;
            text-decoration: none;
            border-bottom: 1px solid #e7e7e7;
            &:hover {
                color: $purple;
            }
        }
    }
    .product-descr {
        margin-top: 6px;
        color: $dark-grey;
        .read-more {
            text-decoration: none;
            display: inline-block;
            border-bottom: 1px dotted;
            line-height: 1;
        }
    }
    .product-image {
        float: left;
        width: 410px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
        @include breakpoint(790){
            width: 300px;
        }
        @include breakpoint(720){
            width: 240px;
        }
        @include breakpoint(640){
            width: 200px;
        }
        @include breakpoint(620){
            width: 100%;
            height: 180px;
            padding-top: 0;
            float: none;
            text-align: center;
        }
        .screen {
            position: relative;
            a {
                display: block;
            }
        }
        img {
            &:not(.zoomImg) {
                max-width: 100%;
                max-height: 100%;
                @include breakpoint(620){
                    height: 180px;
                }
            }
        }
    }
    .product-flypage {
        display: block;
        padding: 0;
        width: auto;
        margin-top: 0;
        text-align: left;
        margin-left: 450px;
        @include breakpoint(790){
            margin-left: 360px;
        }
        @include breakpoint(720){
            margin-left: 280px;
        }
        @include breakpoint(640){
            margin-left: 240px;
        }
        @include breakpoint(620){
            margin-left: 0;
        }
        .buttons {
            @include breakpoint(620){
                text-align: center;
            }
        }
    }
}