/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2017, 10:09:01 PM
    Author     : yyyaaazzz
*/

.header-container {
    @include breakpoint(990){
        background-color: $white;
        position: fixed;
        left: 0;
        right: 0;
        top: 0px;
        z-index: 100;
    }
    .section-top {
        background-color: $deep-grey;
        height: 32px;
        line-height: 3.2rem;
        font-size: 1.2rem;
        color: $white;
        @include breakpoint(990){
            display: none;
        }
        .container {
            position: relative;
        }
        .schedule {
            position: absolute;
            left: 20px;
            top: 0;
            font-weight: 400;
            &:before {
                display: inline-block;
                vertical-align: middle;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                background-image: $sprite;
                content: "";
                @include transform(translateY(-1px));
            }
            time {
                color: #adadad;
            }
        }
        .nav {
            font-weight: 400;
            margin: 0;
            text-align: center;
            a {
                margin-left: 19px;
                margin-right: 19px;
                color: inherit;
                text-decoration: none;
                &:hover {
                    color: #adadad;
                }
            }
        }
        .favorite {
            position: absolute;
            right: 100px;
            top: 0;
            background-color: transparent;
            border: none;
            padding: 0;
            &:before {
                display: inline-block;
                vertical-align: middle;
                width: 24px;
                height: 20px;
                background-image: $sprite;
                background-position: -43px 0px;
                margin-right: 7px;
                content: "";
            }
            &:after {
                content: attr(data-count);
            }
        }
    }
    .section-middle {
        position: relative;
        height: 154px;
        @include breakpoint(990){
            height: 62px;
            border-bottom: 2px solid $black;
        }
        .btn-nav {
            position: absolute;
            top: 21px;
            left: 20px;
            width: 28px;
            height: 18px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            @include breakpoint_min(990){
                display: none;
            }
            &.cross {
                width: 30px;
                span {
                    &:nth-child(1) {
                        top: 8px;
                        @include transform(rotate(45deg));
                    }
                    &:nth-child(2) {
                        @include opacity(0);
                    }
                    &:nth-child(3) {
                        top: 8px;
                        @include transform(rotate(-45deg));
                    }
                }
            }
            span {
                display: block;
                width: 100%;
                height: 2px;
                left: 0;
                top: 0;
                position: absolute;
                background: $black;
                @include transition(0.3s);
                &:nth-child(2) {
                    top: 8px;
                }
                &:nth-child(3) {
                    top: 16px;
                }
            }
        }
        .logo {
            position: absolute;
            width: 301px;
            height: 64px;
            background-image: $sprite;
            background-position: 0px -220px;
            left: 50%;
            top: 59px;
            margin-left: -150px;
            @include breakpoint(990){
                width: 210px;
                height: 33px;
                background-position: -74px -186px;
                margin-left: -105px;
                top: 19px;
            }
            @include breakpoint(480){
                width: 70px;
                height: 42px;
                background-image: url("/images/site/smart/icons/logo-m.svg");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                margin-left: -35px;
                top: 9px;
            }
            a {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
        .minicart {
            position: absolute;
            right: 75px;
            top: 64px;
            @include breakpoint(990){
                top: 15px;
                right: 65px;
            }
            @include breakpoint(480){
                right: 60px;
            }
            .trigger {
                border: none;
                padding: 0;
                width: 25px;
                height: 30px;
                background-color: transparent;
                background-image: url("/images/site/smart/icons/cart.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                font-size: 12px;
                line-height: 36px;
                font-weight: 400;
                &:after {
                    @include breakpoint(990){
                        content: attr(data-count);
                    }
                }
                &.active {
                    @include breakpoint_min(991){
                        background-image: url("/images/site/smart/icons/cart-h.svg");
                    }
                }
                @include breakpoint(990){
                    width: 24px;
                    height: 28px;
                }
            }
            span {
                display: block;
                white-space: nowrap;
                font-size: 1.1rem;
                line-height: 1.4;
                position: absolute;
                bottom: 2px;
                right: 36px;
                color: $dark-grey;
                text-align: right;
                @include breakpoint(990){
                    display: none;
                }
                br {
                    display: block;
                }
            }
        }
        .search-toggle {
            position: absolute;
            top: 70px;
            right: 20px;
            width: 22px;
            height: 22px;
            background-color: transparent;
            background-image: url("/images/site/smart/icons/search.svg");
            background-size: contain;
            background-repeat: no-repeat;
            border: none;
            &:hover {
                @include breakpoint_min(991){
                    @include opacity(0.5);
                }
            }
            &.toggle-on {
                background-image: url("/images/site/smart/icons/close.svg");
                @include breakpoint_min(991){
                    top: 75px;
                    right: 22px;
                    width: 18px;
                    height: 18px;
                }
                &:hover {
                    @include breakpoint_min(991){
                        @include opacity(0.5);
                    }
                }
                + .searchbar {
                    display: block;
                }
            }
            @include breakpoint(990){
                width: 22px;
                height: 22px;
                top: 20px;
                right: 20px;
            }
        }
        .searchbar {
            padding-top: 7px;
            padding-bottom: 7px;
            display: none;
            position: absolute;
            top: 64px;
            right: 51px;
            background-color: $white;
            @include breakpoint(1200){
                top: 99px;
                right: 20px;
            }
            @include breakpoint(990){
                top: 60px;
                right: 0;
                left: 0;
                padding-top: 12px;
                padding-bottom: 12px;
                padding-left: 20px;
                padding-right: 20px;
                border-bottom: 2px solid $black;
            }
            form {
                display: block;
                &.loading {
                    button {
                        background-image: url("/images/site/smart/loading_16.gif");
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
            input[type="search"] {
                border: none;
                height: 25px;
                width: 320px;
                padding-left: 29px;
                padding-right: 15px;
                background-color: #f5f3f3;
                @include breakpoint(990){
                    height: 33px;
                    width: 100%;
                }
            }
            button {
                position: absolute;
                left: 6px;
                top: 12px;
                width: 16px;
                height: 16px;
                background-color: transparent;
                background-image: $sprite;
                background-position: 0px -20px;
                border: none;
                @include breakpoint(990){
                    left: 31px;
                    top: 21px;
                }
            }
            .live-search {
                position: absolute;
                left: 0;
                right: 0;
                padding: 0 20px 10px;
                background-color: $white;
                border-left: 1px solid #f5f3f3;
                border-right: 1px solid #f5f3f3;
                border-bottom: 1px solid #f5f3f3;
                z-index: 1000;
                .item {
                    padding-top: 11px;
                    padding-bottom: 11px;
                    border-bottom: 1px solid #f5f3f3;
                    .img {
                        width: 60px;
                        img {
                            max-width: 100%;
                        }
                    }
                    .info {
                        margin-left: 67px;
                        .title {
                            color: $deep-grey;
                            text-decoration: none;
                            line-height: 1.3;
                            display: block;
                            &:hover {
                                color: $purple;
                            }
                        }
                        .price {
                            margin-top: 4px;
                            font-size: 1.5rem;
                            font-weight: 400;
                            &.stock {
                                color: $black;
                            }
                            &:after {
                                font-size: 1.3rem;
                                content: "грн.";
                            }
                            strong {
                                font-weight: inherit;
                            }
                            .strike {
                                display: inline-block;
                                position: relative;
                                color: $dark-grey;
                                margin-right: 10px;
                                &:after {
                                    font-size: 1.3rem;
                                    content: "грн.";
                                }
                                strong {
                                    position: relative;
                                    &:after {
                                        display: block;
                                        position: absolute;
                                        left: -1px;
                                        right: -1px;
                                        top: 50%;
                                        height: 1px;
                                        background-color: $dark-grey;
                                        content: "";
                                    }
                                }
                            }
                        }
                    }
                }
                .show-all {
                    display: inline-block;
                    line-height: 1.1;
                    text-decoration: none;
                    color: $purple;
                    border-bottom: 1px dotted;
                    margin-top: 10px;
                }
            }
        }
        .phones {
            position: absolute;
            top: 70px;
            @include breakpoint(990){
                display: none;
            }
            .hint {
                font-size: 1.2rem;
                color: #808c99;
                a {
                    color: $purple;
                    border-bottom: 1px dotted;
                    text-decoration: none;
                }
            }
            .stack {
                font-size: 1.5rem;
                font-weight: 300;
                position: relative;
                &:hover {
                    .wrap {
                        @include breakpoint(1200){
                            max-height: none;
                        }
                        &:after {
                            @include breakpoint(1200){
                                @include transform(rotate(135deg));
                                top: 8px;
                            }
                        }
                    }
                }
                @include breakpoint(1200){
                    padding-top: 21px;
                    padding-right: 25px;
                    font-size: 1.7rem;
                    line-height: 2.1rem;
                }
                a {
                    color: inherit;
                    text-decoration: none;
                    @include breakpoint(1200){
                        display: block;
                    }
                    + a {
                        margin-left: 15px;
                        @include breakpoint(1200){
                            margin-left: 0;
                        }
                    }
                }
                .wrap {
                    @include breakpoint(1200){
                        background-color: $white;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        overflow: hidden;
                        max-height: 21px;
                        &:after {
                            display: block;
                            position: absolute;
                            right: 32px;
                            top: 4px;
                            width: 8px;
                            height: 8px;
                            border-left: 1px solid $deep-grey;
                            border-bottom: 1px solid $deep-grey;
                            @include transform(rotate(-45deg));
                            @include breakpoint(1200){
                                content: "";
                            }
                        }
                    }
                }
            }
        }
    }
    .section-bottom {
        z-index: 91;
        @include breakpoint(990){
            display: none;
        }
        @import "main-menu";
    }
}