/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 9, 2017, 3:42:43 PM
    Author     : yyyaaazzz
*/

.selections {
    text-align: -webkit-center;
    padding-top: 30px;
    .slick-slider {
        .slick-arrow {
            top: 0;
            z-index: 1;
            width: 50px;
            height: 21px;
            &:after {
                content: none;
            }
            &:before {
                width: 50px;
                height: 21px;
                display: block;
                background-image: $sprite;
                background-position: -232px -284px;
                @include transform(translateX(0));
                @include transition(transform 120ms ease-out);
                content: "";
            }
            &.slick-next {
                right: 50%;
                @include transform(translateX(80px));
                &:active {
                    &:before {
                        @include transform(translateX(5px));
                    }
                }
            }
            &.slick-prev {
                left: 50%;
                @include transform(translateX(-80px) rotate(180deg));
                &:active {
                    &:before {
                        @include transform(translateX(-5px));
                    }
                }
            }
            &.slick-disabled {
                display: none;
                @include opacity(0);
            }
        }
    }
    .h2 {
        margin-top: 0;
        margin-bottom: 20px;
        text-align: center;
        font-size: $h1;
        font-weight: 300;
    }
}