/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 30, 2016, 9:38:36 PM
    Author     : yyyaaazzz
*/

/*purple*/
/*$purple: #7d2c88;
$lite-purple: #9a4aa5;
$deep-purple: #4e0058;
$ground-purple: #5c4a52;*/
$purple: #a46497;
$lite-purple: #c69;
$deep-purple: #905685;
$ground-purple: #5c4a5d;

/*greyscale*/
$deep-grey: #3c3c3c;
$dark-grey: #808c99;
$semi-grey: #bdc3ca;
$lite-grey: #e7e7e7;
$light-grey: #f4f4f4;

/*neutrals*/
$white: #FFFFFF;
$black: #000000;

$peach: #bb5181;
$lite-peach: #ab3a6e;
$dark-peach: #ab3a6e;
$mint: #699;
$blue: #28538d;
$dark-blue: #051541;

$h1: 2.2rem;
$h2: 1.8rem;
$h3: 1.6rem;
$h4: 1.4rem;

$sprite: url("/images/site/smart/sprite.png");