/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 30, 2016, 9:38:36 PM
    Author     : yyyaaazzz
*/

/*purple*/
$purple: #d65684;
$lite-purple: #ee4684;
$deep-purple: #AE4D7B;
$ground-purple: #5c4a5d;

/*greyscale*/
$black: #000000;
$deep-grey: #4a4c4c;
$dark-grey: #868e96;
$semi-grey: #929292;
$lite-grey: #e1e1e1;
$light-grey: #f3f3f3;
$white: #FFFFFF;

/*peach*/
$peach: #f56e52;
$lite-peach: #ffcac8;
$dark-peach: #ed5034;
$mint: #699;
$blue: #28538d;
$dark-blue: #051541;

/*headers*/
$h1: 2.4rem;
$h2: 1.9rem;
$h3: 1.7rem;
$h4: 1.4rem;

$sprite: url("/images/public/sprite.png");