/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 24, 2017, 9:20:50 PM
    Author     : yyyaaazzz
*/

@import "common";

.container {
    max-width: 1190px;
}
.header-container {
    .section-middle {
        height: 110px;
        .lt {
            position: relative;
            margin-right: 474px;
        }
        .phones {
            top: 36px;
            right: 20px;
            text-align: right;
        }
        .logo {
            top: 40px;
            left: 50%;
            width: 210px;
            height: 32px;
            background-position: -74px -186px;
            @include transform(translateX(-50%));
        }
    }
}