/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 27, 2016, 11:26:19 PM
    Author     : yyyaaazzz
*/

@import "core";
@import "ext/slidebars";
@import "ext/fancybox";
@import "ext/remodal";
@import "ext/swiper";

#sbIndex {
    z-index: 0;
    @include breakpoint(990){
        padding-top: 62px;
    }
    &.shift,
    &.overlay {
        overflow: hidden;
        .body-overlay {
            pointer-events: all;
            display: block;
        }
    }
    .body-overlay {
        pointer-events: none;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(244,243,245,0.8);
        z-index: 900;
        height: 100%;
    }
}
.container {
    max-width: 1640px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

/*header*/ 
@import "header";

/*product grid*/ 
@import "product-grid";

/*header*/ 
@import "product-rating";

/*basket*/ 
@import "basket";

/*flypage*/ 
@import "flypage";

/*footer*/ 
@import "footer";

/*footer*/ 
@import "callback";

/*mobile menu*/ 
@import "mobile-menu";