/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 8, 2017, 10:42:24 PM
    Author     : yyyaaazzz
*/
@import "common";
.header-container {
    .section-bottom {
        .main-menu {
            border-bottom: none;
        }
    }
}
.banner-container {
    height: 308px;
    background-image: url("/images/site/smart/bg-delivery.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    @include breakpoint(990){
        height: 240px;
    }
    @include breakpoint(640){
        height: 210px;
    }
    @include breakpoint(480){
        height: 170px;
    }
}
.page-container {
    padding-top: 20px;
    padding-bottom: 70px;
    @include breakpoint(990){
        padding-bottom: 20px;
    }
    .container {
        padding-left: 70px;
        padding-right: 70px;
        @include breakpoint(990){
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .heading-title {
        text-align: center;
    }
    h3 {
        font-size: 1.8rem;
    }
    blockquote {
        display: inline-block;
        margin-left: 0;
        margin-right: 0;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1.2rem;
        color: $dark-grey;
        background-color: $light-grey;
        border: none;
        @include border-radius(3px);
        @include breakpoint(990){
            display: block;
            padding-left: 20px;
            padding-right: 20px;
            margin-left: -20px;
            margin-right: -20px;
            @include border-radius(0px);
        }
    }
}