/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 1, 2016, 8:19:13 PM
    Author     : yyyaaazzz
*/

@import "common";
@import "_breadcrumbs";
@import "ext/_slick";
@import "_selections";
@import "_pagination";

.page-container {
    padding-top: 40px;
    padding-bottom: 60px;
}
.breadcrumbs {
    margin-bottom: 36px;
}
.product-card {
    display: flex;
    justify-content: space-between;
    + .hr {
        margin-top: 70px;
    }
}
.product-details {
    text-align: initial;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding-right: 40px;
    .attributes {
        font-size: 1.4rem;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin-top: 5px;
            margin-bottom: 5px;
            &:first-of-type {
                margin-top: 0;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        strong {
            font-weight: 600;
        }
    }
    .reviews {
        margin-bottom: 14px;
        .rating {
            float: left;
            margin-right: 10px;
        }
        a {
            color: $dark-grey;
            text-decoration: none;
            border-bottom: 1px solid #e7e7e7;
            &:hover {
                color: $purple;
            }
        }
    }
    .share {
        font-size: 0;
        padding-top: 14px;
        a {
            display: inline-block;
            vertical-align: top;
            width: 24px;
            height: 24px;
            margin-left: 9px;
            background-image: $sprite;
            text-decoration: none;
            @include border-radius(12px);
            &:first-child {
                margin-left: 0;
            }
            &:active {
                @include transform(scale(0.95));
            }
            &.fb {
                background-position: -74px -162px;
            }
            &.vk {
                background-position: -98px -162px;
            }
            &.gp {
                background-position: -122px -162px;
            }
            &.tw {
                background-position: -146px -162px;
            }
        }
    }
}
.product-image {
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    text-align: center;
    width: 40%;
    .screen {
        text-align: center;
        img {
            width: 100%;
            vertical-align: top;
        }
    }
    .thumbs {
        display: block;
        list-style: none;
        margin: 0;
        padding: 4px 0 0;
        font-size: 0;
        li {
            display: inline-block;
            vertical-align: top;
            overflow: hidden;
            margin-left: 2px;
            margin-right: 2px;
            width: 72px;
            height: 72px;
            border: 1px solid $white;
            &.selected {
                border-color: #e7e7e7;
            }
            &:hover,
            &.selected {
                img {
                    @include opacity(1);
                }
            }
            img {
                width: 100%;
                height: 100%;
                vertical-align: middle;
                @include opacity(0.5);
                @include transition(all 200ms ease);
            }
        }
    }
    + .hr {
        margin-top: 75px;
    }
}
.product-description {
    margin-top: 40px;
    width: 66%;
    .h1 {
        margin-bottom: 17px;
        text-align: center;
    }
    article {
        column-count: 3;
        column-gap: 20px;
    }
}
.product-attributes {
    width: 30%;
    margin-top: 40px;
    padding-top: 45px;
    .attributes {
        font-size: 1.4rem;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin-top: 5px;
            margin-bottom: 5px;
            &:first-of-type {
                margin-top: 0;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        strong {
            font-weight: 600;
            color: #333333;
        }
    }
    .share {
        font-size: 0;
        padding-top: 14px;
        a {
            display: inline-block;
            vertical-align: top;
            width: 24px;
            height: 24px;
            margin-left: 9px;
            background-image: $sprite;
            text-decoration: none;
            @include border-radius(12px);
            &:first-child {
                margin-left: 0;
            }
            &:active {
                @include transform(scale(0.95));
            }
            &.fb {
                background-position: -74px -162px;
            }
            &.vk {
                background-position: -98px -162px;
            }
            &.gp {
                background-position: -122px -162px;
            }
            &.tw {
                background-position: -146px -162px;
            }
        }
    }
}
.product-related {
    margin-top: 90px;
    width: 30%;
    padding-top: 30px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 30px;
    border: 1px solid #e7e7e7;
    .h1 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .product-flypage {
        text-align: center;
        width: auto;
        float: none;
        .h3 {
            text-transform: uppercase;
            margin-bottom: 14px;
            a {
                text-decoration: none;
                color: inherit;
                &:hover {
                    color: $dark-peach;
                }
            }
        }
        .reviews {
            margin-bottom: 20px;
            .rating {
                float: none;
                margin-right: 8px;
                display: inline-block;
                vertical-align: -2px;
            }
            a {
                color: $dark-grey;
                text-decoration: none;
                border-bottom: 1px solid #e7e7e7;
                &:hover {
                    color: $purple;
                }
            }
        }
        .options {
            text-align: left;
        }
    }
    .product-image {
        width: 220px;
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-bottom: 15px;
        .screen {
            border: none;
        }
    }
}
.product-reviews {
    max-width: 1000px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    .h1 {
        text-align: center;
        em {
            font-style: normal;
            color: $dark-grey;
        }
    }
    .form-toggle {
        display: block;
        width: 266px;
        color: $white;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        &:after {
            display: inline-block;
            vertical-align: -3px;
            width: 22px;
            height: 20px;
            margin-left: 15px;
            background-image: $sprite;
            background-position: -90px 0px;
            content: "";
        }
    }
    .comment-form {
        background-color: #f9f9f9;
        margin-top: 22px;
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 35px;
        position: relative;
        .h3 {
            margin-bottom: 10px;
        }
        form {
            label {
                font-size: 15px;
                font-weight: 500;
                line-height: 2;
            }
            input[type="text"],
            input[type="email"] {
                display: block;
                width: 275px;
                height: 40px;
                margin-bottom: 7px;
                &.error {
                    border-color: $peach;
                }
            }
            textarea {
                width: 100%;
                height: 180px;
                display: block;
                margin-bottom: 7px;
                resize: none;
                &.error {
                    border-color: $peach;
                }
            }
            .btn-com {
                width: 275px;
                margin-top: 25px;
                &:after {
                    display: inline-block;
                    vertical-align: -3px;
                    width: 22px;
                    height: 20px;
                    margin-left: 15px;
                    background-image: $sprite;
                    background-position: -90px 0px;
                    content: "";
                }
            }
        }
        .f-close { 
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 20px;
            color: $dark-grey;
            text-decoration: none;
            &:hover {
                color: $dark-peach;
            }
        }
        .f-rating {
            margin-left: 20px;
            display: inline-block;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            transform: translateY(3px);
            input[type="radio"] {
                position: absolute;
                top: -28px;
                right: -28px;
                @include opacity(0);
                &:checked {
                    + label,
                    ~ label {
                        background-position: -154px 0px;
                    }
                }
            }
            label {
                display: inline-block;
                vertical-align: middle;
                float: right;
                height: 20px;
                width: 20px;
                margin-right: 3px;
                cursor: pointer;
                background-image: $sprite;
                background-position: -134px 0px;
            }
            span {
                float: right;
                margin-left: 10px;
                transform: translateY(2px);
                color: $dark-grey;
            }
        }
    }
    .list {
        .item {
            margin-top: 40px;
            padding-bottom: 20px;
            border-bottom: 1px solid $light-grey;
            line-height: 24px;
            span {
                color: $dark-grey;
            }
            a {
                display: inline-block;
                text-decoration: none;
                border-bottom: 1px solid $lite-grey;
                line-height: 1;
                color: #4a4a4a;
                margin-left: 10px;
                &:hover {
                    color: $purple;
                }
            }
            p {
                
            }
            .rating {
                display: inline-block;
                margin-right: 10px;
                vertical-align: -1px;
            }
        }
    }
    .pagination {
        padding-top: 20px;
        padding-bottom: 0;
    }
}
.product-set {
    margin-top: 70px;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid #e7e7e7;
    text-align: center;
    .h2 {
        font-weight: 400;
        padding-left: 7px;
        padding-right: 7px;
        background-color: $white;
        color: $peach;
        position: absolute;
        margin: 0;
        top: -14px;
        left: 50%;
        @include transform(translateX(-50%));
    }
    .product-set-blocks {
        position: relative;
        padding-left: 80px;
        padding-right: 80px;
        @include breakpoint(1280){
            padding-left: 60px;
            padding-right: 60px;
        }
        @include breakpoint(1024){
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    .product-set-block {
        display: flex;
        vertical-align: top;
        justify-content: center;
        align-content: center;
        .product-set-items {
            overflow: hidden;
            .swiper-container {
                padding-top: 10px;
                padding-bottom: 25px;
                .swiper-wrapper {
                    .product-set-item {
                        text-align: left;
                        position: relative;
                        + .product-set-item {
                            margin-left: 64px;
                            @include breakpoint(1280){
                                margin-left: 40px;
                            }
                        }
                        &:not(:first-child) {
                            &:before {
                                display: block;
                                position: absolute;
                                top: 24px;
                                left: -46px;
                                font-size: 40px;
                                line-height: 35px;
                                color: #808c99;
                                content: "+";
                                @include breakpoint(1280){
                                    left: -34px;
                                }
                            }
                        }
                        .product-set-item-image {
                            float: left;
                            width: 80px;
                            height: 80px;
                            border: 1px solid #e7e7e7;
                            img {
                                vertical-align: top;
                                max-width: 100%;
                            }
                        }
                        .product-set-item-info {
                            margin-left: 96px;
                            min-width: 194px;
                            .product-set-item-title {
                                font-size: 1.4rem;
                                line-height: 2.1rem;
                                text-transform: uppercase;
                                a {
                                    text-decoration: none;
                                    color: $purple;
                                    &:hover {
                                        color: $lite-purple;
                                    }
                                }
                            }
                            .product-set-item-price {
                                margin-top: 9px;
                                font-size: 1.4rem;
                                white-space: nowrap;
                                &:after {
                                    content: "грн.";
                                }
                                strong {
                                    font-size: 1.6rem;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
                .swiper-button-prev,
                .swiper-button-next {
                    background-image: none;
                    top: 0;
                    bottom: 0;
                    margin: 0;
                    width: 120px;
                    height: auto;
                    &.swiper-button-disabled {
                        display: none;
                    }
                }
                .swiper-button-next {
                    right: 0;
                    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
                    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
                    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
                }
                .swiper-button-prev {
                    left: 0;
                    background: -moz-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
                    background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
                    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
                }
                .swiper-scrollbar {
                    @include opacity(0.75);
                    background-color: #e1e6ec;
                    bottom: 0;
                    .swiper-scrollbar-drag {
                        background-color: #808c99;
                    }
                }
                &:hover {
                    .swiper-scrollbar {
                        @include opacity(1);
                    }
                }
            }
        }
        .product-set-summary {
            width: 300px;
            min-width: 300px;
            padding-left: 64px;
            position: relative;
            @include breakpoint(1280){
                padding-left: 40px;
                width: 270px;
                min-width: 270px;
            }
            &:before {
                display: block;
                position: absolute;
                left: 9px;
                top: 34px;
                font-size: 40px;
                line-height: 35px;
                color: #808c99;
                content: "=";
                @include breakpoint(1280){
                    left: 3px;
                }
            }
            .price {
                margin-bottom: 3px;
                line-height: 2.4rem;
                text-align: center;
                white-space: nowrap;
                font-size: 1.6rem;
                &:after {
                    content: "грн."
                }
                strong {
                    font-weight: 500;
                    font-size: 2.2rem;
                }
                .strike {
                    color: $dark-grey;
                    display: inline-block;
                    margin-right: 7px;
                    font-size: 1.4rem;
                    &:after {
                        content: "грн.";
                    }
                    strong {
                        display: inline-block;
                        position: relative;
                        font-weight: 500;
                        font-size: 1.6rem;
                        &:after {
                            display: block;
                            position: absolute;
                            left: -2px;
                            right: -2px;
                            height: 1px;
                            top: 50%;
                            background-color: $peach;
                            content: "";
                        }
                    }
                }
            }
            .btn {
                display: block;
                width: 100%;
                padding: 0;
                &:before {
                    content: attr(data-text);
                }
                &.in-cart {
                    &:before {
                        content: attr(data-alt);
                    }
                }
            }
            .eco {
                text-align: center;
                margin-top: 5px;
                color: $peach;
            }
        }
    }
}